* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	text-align: left;
	font-family: Helvetica, arial, sans-serif;
	font-weight: 400;
}
header { 
	border-bottom: solid gray 1px;
	overflow: auto; 
}
section {
	padding: 5em 0;
}
.logo {
 	font-size: 22px;
}
nav { 
	display: inline-block; 
} 
nav a {
 	display: inline-block;
 	padding:1em;
 	color: inherit;
 	text-decoration: none;
}
nav a:hover {
	background:orange;
	color:#fff;
}
nav a .social, .socialWrap a .social { 
	width: 20px;
    	margin-bottom: -4px;
} 

.socialWrap { 
	float: right;
	padding-top: 17px;  
} 

#intro {
	background: url("../Images/animal-blur-cat-434033.jpg");
	background-size: cover;
	font-size: 20px;
	text-align: left;
	height: 85vh;
	color: inherit;
	padding-left: 1em
}
#about {
	background: url("../Images/gray_cat.jpg");
	background-size: cover;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	height: 50vh;
	color: inherit;
	padding: 2em 4em 0 2em;

}
#solution {
	background: url("../Images/adorable-animal-cat-54632.jpg");
	background-size: cover;
	font-size: 1em;
	height: 65vh;
}
footer {
	text-align: center;
}
